div{
    background-color: rgba(36, 34, 31, 0.692);
    width: 80%;
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify; /* Justifica el texto */
}

body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Gris oscuro */
    color: #fff; /* Blanco para el texto */
    margin: 0;
    padding: 0px;
    padding-top: 0px;
}
  
nav {
    background-color: #fff;
    text-align: center;
}
  
.formula, .redbull, .mclaren {
    width: 100px;
    height: auto;
    margin: 0 10px;
}
  
.Main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
  
h1 {
    color: #f00; 
    text-align: center;
}
  
h2 {
    color: #f37a48; /* Naranja McLaren */
    text-align: center;
  }
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior */
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.formula {
    width: 100px;
    height: auto;
}

.redbull, .mclaren, .ferrari{
    width: 50px;
    height: auto;
    
}

.redbull{
    padding-left: 1250px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior */
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

  
img {
    float: left; /* Hace que la imagen flote a la izquierda */
    margin-right: 20px; /* Añade un margen derecho a la imagen */
}
  
.auto{
    text-align: center;
    padding-left: 340px;
}